.profile-img {
  width: 128px;
  height: 128px;
}

.menu-icon {
  right: 5%;
  top: 20px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.hover-link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid grey;
}

.hover-link-2:hover {
  text-decoration: underline;
}
