.img-h-sm {
  height: 250px;
}

.img-h-md {
  height: 300px;
}

.img-h-lg {
  height: 350px;
}

.img-h-xl {
  height: 400px;
}

.img-w-sm {
  width: 250px;
}

.img-w-md {
  width: 300px;
}

.img-w-lg {
  width: 350px;
}

.img-w-xl {
  width: 400px;
}

@media (max-width: 900px) {
  .sm-img-h-sm {
    height: 250px;
  }

  .sm-img-h-md {
    height: 300px;
  }

  .sm-img-h-lg {
    height: 350px;
  }

  .sm-img-h-xl {
    height: 400px;
  }
  .sm-img-w-sm {
    width: 250px;
  }

  .sm-img-w-md {
    width: 300px;
  }

  .sm-img-w-lg {
    width: 350px;
  }

  .sm-img-w-xl {
    width: 400px;
  }
}
