.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.pt-10 {
  padding-top: 10px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-23 {
  padding-top: 23px;
}
.pt-25 {
  padding-top: 25px;
}

.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-8 {
  padding-bottom: 8px;
}

.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pv-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ph-0 {
  padding-left: 0;
  padding-right: 0;
}
.ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pt-0 {
  padding-top: 0;
}
.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

.pr-0 {
  padding-right: 0;
}

.pr-20 {
  padding-right: 20px;
}
.pl-0 {
  padding-left: 0;
}

.pl-20 {
  padding-left: 20px;
}

.m-auto {
  margin: auto;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.m-20 {
  margin: 20px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.ml-auto {
  margin-left: auto;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-auto {
  margin-right: auto;
}

@media (max-width: 900px) {
  .sm-w-45 {
    width: 45%;
  }

  .sm-w-50 {
    width: 50%;
  }
  .sm-w-60 {
    width: 60%;
  }
  .sm-w-70 {
    width: 70%;
  }
  .sm-w-80 {
    width: 80%;
  }
  .sm-w-90 {
    width: 90%;
  }
  .sm-w-100 {
    width: 100%;
  }

  .sm-h-100 {
    height: 100%;
  }

  .sm-pt-10 {
    padding-top: 10px;
  }
  .sm-pt-40 {
    padding-top: 40px;
  }
  .sm-pt-20 {
    padding-top: 20px;
  }
  .sm-pt-60 {
    padding-top: 60px;
  }
  .sm-pt-23 {
    padding-top: 23px;
  }
  .sm-pt-25 {
    padding-top: 25px;
  }

  .sm-pb-20 {
    padding-bottom: 20px;
  }
  .sm-pb-10 {
    padding-bottom: 10px;
  }
  .sm-pb-40 {
    padding-bottom: 40px;
  }
  .sm-pb-0 {
    padding-bottom: 0px;
  }
  .sm-pb-5 {
    padding-bottom: 5px;
  }
  .sm-pb-8 {
    padding-bottom: 8px;
  }

  .sm-pv-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .sm-pv-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .sm-pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sm-pv-60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sm-ph-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .sm-ph-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .sm-ph-15 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sm-p-10 {
    padding: 10px;
  }
  .sm-p-20 {
    padding: 20px;
  }
  .sm-p-30 {
    padding: 30px;
  }

  .sm-pr-0 {
    padding-right: 0;
  }

  .sm-pr-20 {
    padding-right: 20px;
  }
  .sm-pl-0 {
    padding-left: 0;
  }

  .sm-pl-20 {
    padding-left: 20px;
  }

  .sm-m-auto {
    margin: auto;
  }

  .sm-m-0 {
    margin: 0;
  }

  .sm-mb-auto {
    margin-bottom: auto;
  }

  .sm-mb-10 {
    margin-bottom: 10px;
  }
  .sm-mb-20 {
    margin-bottom: 20px;
  }
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .sm-mb-40 {
    margin-bottom: 40px;
  }

  .sm-mt-0 {
    margin-top: 0;
  }

  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }

  .sm-ml-auto {
    margin-left: auto;
  }

  .sm-ml-20 {
    margin-left: 20px;
  }

  .sm-mr-auto {
    margin-right: auto;
  }
}
