h3 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

p {
  font-size: 18px;
  //   letter-spacing: 1px;
  line-height: 30px;
  width: 80%;
  margin: auto;
  font-weight: 500px;
}

.footer-position {
  display: grid;
  grid-template-columns: 1fr;
  height: 250px;
  align-content: end;
}
