.articles-heading {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.sub-heading {
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
  font-size: 16px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  width: 45%;
  margin: auto;
  margin-bottom: 40px;
  .content {
    justify-items: center;
  }

  h3,
  p {
    margin: 0;
  }

  .date {
    font-size: 14px;
    margin-bottom: 10px;
    color: #a27620;
  }
  .title {
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
  .title:hover {
    text-decoration: underline;
  }
  .intro {
    font-size: 16px;
    color: #333;
    line-height: 25px;
  }
}

@media (max-width: 900px) {
  .articles-heading {
    padding-top: 22.5px;

    padding-bottom: 40px;
  }
  .sub-heading {
    display: none;
  }
  .article {
    width: 90%;
    display: flex;
    flex-direction: column;
    .date {
      margin-top: 10px;
    }
    .title {
      font-size: 20px;
    }
  }
}
