@import './variables';
h3 {
  padding-top: 22.5px;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.contact-p {
  margin: 40px auto auto auto;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  width: 60%;

  color: #333;
}

h4 {
  font-style: italic;
  color: #004579;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .contact-p {
    width: 90%;
  }
}
