.footer {
  background: #f0f0f0;
  bottom: 0;
  left: 0;
  padding: 20px 0 10px 0;
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 8px;
    border-radius: 4px;
  }
  p {
    margin-top: 10px;
  }
}

.footer-icon {
  width: 24px;
  height: 24px;
}
