.home-bio {
  width: 50%;
  text-align: center;
  background: whitesmoke;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  .content-bio {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 40px;
      margin-top: 70px;
    }

    p {
      width: 70%;
      margin: auto;
    }
  }
}

@media (max-width: 800px) {
  .home-bio {
    .content-bio {
      img {
        margin-top: 20px;
      }
    }
    .header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 20px;
      height: 50px;
      a {
        color: black;
      }
    }
  }
}

@media (min-width: 800px) {
  .home-bio {
    .responsive-nav {
      display: none;
    }
  }
}
