@import "./variables";
nav {
  background: $yellow;
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 10px;

    .home {
      grid-column: span 6;
    }
  }
  a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
}
