.big-nav {
  ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;

    .home {
      grid-column: span 5;
      justify-self: start;
    }
  }

  a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid grey;
  }
}

.responsive-nav {
  position: relative;

  .menu-icon {
    position: absolute;
    right: 5%;
    top: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .nav-links {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid grey;
    }
  }

  .nav-links.open {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.active {
  display: block;
}

@media (min-width: 800px) {
  .menu-icon,
  .nav-links,
  .responsive-nav {
    display: none;
  }
}

@media (max-width: 800px) {
  .big-nav {
    display: none;
    ul {
      list-style: none;
      display: flex;

      li {
        flex: 1;
      }
    }
  }
}
