.projects-heading {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: bold;
}
.project {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // padding: 10px;
  background: #eee;
  margin-top: 40px;
  border-radius: 4px;

  transition: 0.3s;
  img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
  }
  .project-details {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    .project-title {
      padding: 20px 0;
      font-weight: 300;
      align-self: center;
      cursor: pointer;
      color: black;
    }

    .action-btn {
      align-self: start;
    }

    .project-title:hover {
      color: midnightblue;
    }

    .live-link {
      color: black;
      font-size: 14px;
      background: white;
      border-radius: 4px;
      padding: 10px 15px;
    }
    .source-code {
      color: white;
      font-size: 14px;
      background: #24292e;
      border-radius: 4px;
      padding: 10px 15px;
    }
    .details {
      color: #333;
      font-size: 16px;
      background: white;
      border-radius: 4px;
      padding: 10px 15px;
      border: 1px solid #222;
    }
  }
}

.project:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .projects-p {
    display: none;
  }
  .project {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
      margin-right: 0;
    }
    .project-details {
      .project-title {
        padding: 20px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 900px) {
  .action-btn {
    display: none;
  }
}
