h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
.ams {
  .project-title {
    cursor: pointer;
    color: #333;
    h4 {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 300;
    }
  }
  img {
    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    align-self: center;
  }

  span {
    padding: 5px 10px;
    border-radius: 50px;

    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .ams {
    img {
      height: 200px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
