@import './variables';
@import './footer';
@import './skills';
@import './projects';
@import './navbar';
@import './ams';
@import './articles';
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.content-bio {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  p {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    margin: 0;
  }
}

.container {
  width: 60%;
  margin: auto;
}

@media (max-width: 900px) {
  .content-bio {
    min-height: 80vh;
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
